body{
    background-color: rgb(57, 53, 53);

}

h1{
    color: white;
}

header{
    background-color: black;
}

div {
    justify-content: center;
}
#div1{
    padding-left: 35%;
}

#div2{
    justify-content: flex-start;
    background-color: rgb(27, 24, 24);
    float: left;
}


.playlists{
background-color: grey;
color: white;
padding: 20px;
margin: 10px;
width: 200px;
border-radius: 10px;
}

.menu{
    background-color: black;
    color: white;
    padding: 20px;
    margin: 10px;
    width: 200px;
    border-radius: 10px;
}

.suggestions{
    width: auto;
    padding: 0%;
}

.div1 .div2 {
    display: inline-block;
    vertical-align: top;
}